@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
.generalContainer{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.section1{
    color: #fff;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../public/images/fırın.jpg');
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: center;
}
.title{
    padding: 48px 0 0 60px;
    align-self: start;
    font-size: 48px;
}
.section_content{
    display: flex;
    flex-direction: column;
    align-items: center;
     margin-top: 24rem;
}
.section_content h1{
    font-size: 38px;
}
.section_content h4{
    margin-top: 18px;
    font-size: 24px;
}


.section2{
    color: #fff;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../public/images/lahmacun.jpg');
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
}
.section2_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 12px;
    padding-right: 12px;
}
.section2_content h1{
    font-size: 38px;
}
.section2_content h4{
    margin-top: 18px;
    font-size: 24px;
}




.section3{
    color: #fff;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../public/images/et.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
}
.section3_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 12px;
    margin-right: 12px; */
    height: 100%;
    width: 100%;
}
.section3_content_acordion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    margin-right: 12px;
    max-height: calc(100vh - 115px);
    width: 100%;
    overflow-y: auto;
}
.section3 h1{
    padding-top: 75px;
    font-size: 38px;
}



.section4{
    display: flex;
    width: 100%;
    height: 100%;
}
.section4_content{
    color: #fff;
    background-color:#171717;
    height: 100%;
    scroll-snap-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section4_info{
    padding-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.section4_content h1{
    font-size: 30px;
}
.section5{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../public/images/ızgara.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: center;
    height: 100%;
    width: 60%;
}

.links{
    color: #fff;
    /* text-decoration: none; */
    display: flex;
    align-items: center;
    gap: 8px;
}